.item {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 16px;
}

.checkbox {
  width: 40px;
  height: auto;
  margin: auto 0;
  border: none;
}

.button {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  color: #cc9a9a;
}
